<!--
/**
 * @copyright: Copyright © 2019 Firebear Studio. All rights reserved.
 * @author   : Firebear Studio <fbeardev@gmail.com>
 */
-->
<div class="data-grid-cell-content">
    <span data-bind="if: $col.getIsActive($row())">
        <span class="grid-severity-notice">
            <span data-bind="html: $col.getLabel($row())"></span>
        </span>
    </span>
    <span data-bind="ifnot: $col.getIsActive($row())">
        <span class="grid-severity-major">
            <span data-bind="html: $col.getLabel($row())"></span>
        </span>
    </span>
</div>
