<!--
 * @copyright: Copyright © 2021 Firebear Studio. All rights reserved.
 * @author: Firebear Studio <fbeardev@gmail.com>
-->
<div class="admin__field _required"
     data-bind="css: $data.additionalClasses, attr: {'data-index': index}, visible: visible"
     data-index="user">

    <div class="admin__field-label" data-bind="visible: $data.labelVisible">
        <label data-bind="attr: {for: uid}">
            <span data-bind="
                    attr: {
                        'data-config-scope': $data.scopeLabel
                    },
                    i18n: label">Password</span>
        </label>
    </div>
    <div class="admin__field-control"
         data-bind="
            css: {
                    '_with-tooltip': $data.tooltip,
                    '_with-reset': $data.showFallbackReset && $data.isDifferedFromDefault
                 }">

        <input class="admin__control-text" type="password"
               data-bind="
                event: {change: userChanges},
                value: value,
                hasFocus: focused,
                valueUpdate: valueUpdate,
                attr: {
                    name: inputName,
                    placeholder: placeholder,
                    'aria-describedby': noticeId,
                    id: uid,
                    disabled: disabled,
                    maxlength: 255
            }"/>
    </div>
    <div class="admin__field-control username-visible" style="margin-left: 27.5%;">
        <a href="javascript:void(0)"
           onclick="
               let dataIndex = this.parentElement.parentElement.dataset.index;
               let element = document.querySelector('div[data-index=' + dataIndex + '] input');
               let isShow = element.getAttribute('type');
               if (isShow == 'text') {
                   element.setAttribute('type', 'password');
                   this.text = 'Show username';
               } else {
                   element.setAttribute('type', 'text');
                   this.text = 'Hide username';
               }
            ">Show username</a>
    </div>
</div>
